<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="mb-5">
                 You are welcome Admin
                <span class="font-weight-bold">{{user.name}} {{user.surname}} </span>
                <button class="btn btn-primary" @click="Logout()" >Log Out</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex adding-product mb-3">
            <validation-observer v-slot="{ invalid }" ref="observer">
                <form @submit.prevent="addProduct">
                    <div class="mb-3">
                        <validation-provider rules="alpha|required" v-slot="{ errors }" name="name">
                            <input type="text" class="form-control" placeholder="name" v-model="product.name">
                            <small class="text-danger">{{ errors[0] }}</small>
                        </validation-provider>
                    </div>
                    <div class="mb-3">
                        <validation-provider rules="numeric|required" v-slot="{ errors }" name="price">
                            <input type="text" class="form-control" placeholder="price" v-model="product.price">
                            <small class="text-danger">{{ errors[0] }}</small>
                        </validation-provider>
                    </div>
                    <div class="mb-3">
                        <validation-provider rules="integer|required" v-slot="{ errors }" name="quantity">
                            <input type="text" class="form-control" placeholder="quantity" v-model="product.quantity">
                            <small class="text-danger">{{ errors[0] }}</small>
                        </validation-provider>
                    </div>
                    <button class="btn btn-primary" type="submit" :disabled="invalid">Add</button>
                </form>
            </validation-observer>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th>Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(product,index) in products" :key="product.id">
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body ml-3">
                                        <h4 class="media-heading"><a href="#">{{product.name}}</a></h4>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                    <validation-provider rules="required|integer|min:1" v-slot="{ errors }" name="price">
                                        <input type="number" min="0" class="form-control" v-model="product.quantity" @keyup="updateQuantity(product)" @click="updateQuantity(product)">
                                        <span>{{ errors[0] }}</span>
                                    </validation-provider>
                            </td>
                            <td v-if="!product.editing" class="col-sm-1 col-md-1 text-center" @dblclick="editPrice(product)"><strong>
                                {{product.price}}</strong>
                            </td>
                            <td v-else class="col-sm-1 col-md-1 text-center">
                                <validation-provider rules="required|integer|min:0" v-slot="{ errors }" name="price">
                                    <input type="number" v-model="newPrice" @blur="updatePrice(product)" min="0">
                                    <span>{{ errors[0] }}</span>
                                </validation-provider>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center" ><strong>{{product.quantity * product.price}}</strong>
                            </td>
                            <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger" @click="removeOrder(product.id)" :disabled="disable">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
