<div class="main-w3layouts wrapper">
    <h1>Please Log In</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <ValidationObserver v-slot="{  invalid  }">
                <form @submit.prevent="userInfo()">
                    <validation-provider rules="email|required" v-slot="{ errors }" name="email">
                        <div class="fields mb-3">
                        <input type="email" class="text"  placeholder="Email" required="" v-model="user.email">
                        <small class="text-danger">{{ errors[0] }}</small>
                        </div>
                    </validation-provider>
                    <validation-provider rules="alpha_num" v-slot="{ errors }" name="password">
                        <div class="fields mb-3">
                        <input type="password" class="text" placeholder="Password" required="" v-model="user.password">
                        <small class="text-danger">{{ errors[0] }}</small>
                        </div>
                    </validation-provider>
                    <input type="submit" value="LOG IN" :disabled="invalid">
                </form>
            </ValidationObserver>
        </div>
    </div>
</div>

